<%= @player_1.name %> vs <%= @player_2.name %> 
<br>
<%= @player_1.name %> hitpoints: <%= @player_1.hitpoints %> 
<br>
<a href="/attack">Attack</a>
<br>
<%= @player_2.name %> hitpoints: <%= @player_2.hitpoints %> 


